:root {
    --primary-color: #29524A;
    --secondary-color: #06070e;
    --accent1-color: #8fb996;
    --accent2-color: white;

    --heading-font: "Happy Monkey";
    --paragraph-font: "Playwrite Deutschland Grundschrift";
}

* {
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

p {
    font-family: var(--paragraph-font);
}


/* HEADER */
header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: var(--accent1-color);
    align-items: center;
}

.logo {
    width: 400px;
    height: 135px;
    border-right: 3px solid var(--secondary-color);
    border-left: 3px solid var(--secondary-color);
}

.nav {
    padding-right: 2rem;
    text-align: right;
    background-color: var(--secondary-color);
    list-style-type: none;
    width: 100%;
}

.nav a {
    padding: 1rem .5rem;
    text-decoration: none;
    color: var(--accent1-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
}

.nav a:hover {
    color: var(--secondary-color);
    background-color: var(--accent1-color);
}


/* MAIN */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bio-box {
    margin: 2rem;
    padding: 1rem 2rem;
    border: 3px solid var(--secondary-color);
    max-width: 1000px;
}

.bio-box h1 {
    color: var(--primary-color);
    padding-bottom: .5rem;
}

.sky-img-1 {
    float: right;
    padding: 0 0 1rem 1rem;
}

.sky-img-2 {
    float: left;
    padding: 1rem 1rem 1rem 0;
}

.bio-text {
    text-align: justify;
}

.spacing {
    padding-top: 1rem;
}


/* FOOTER */
footer {
    background-color: var(--accent1-color);
    border-top: 3px solid var(--secondary-color);
}

.footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 1000px;
}

.socials {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.socials a {
    padding: .5rem .5rem;
}

.socials a:hover {
    background-color: var(--secondary-color);
}

.socials img {
    height: 48px;
    width: 48px;
}


/* GALLERY PAGE */
.main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery-container {
    max-width: 400px;
    justify-content: space-between;
    column-count: 1;
    column-gap: 1rem;
    margin: 0 auto;
}

.artwork-container {
    display: inline-block;
    width: 100%;
    break-inside: avoid;
    margin-bottom: 1rem;
}

.artwork-container img {
    width: 100%;
    height: auto;
    border: 3px solid var(--secondary-color);
    display: block;
}

.artwork-text {
    padding: 1rem;
    background-color: var(--accent1-color);
    border: 3px solid var(--secondary-color);
    border-top: none;
}

.title {
    text-align: center;
}

.year {
    font-weight: bold;
}

.type {
    font-style: italic;
    padding-top: .25rem;
}

.tags {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    gap: .5rem;
    padding-top: .5rem;
}

.tags p {
    border: solid 1px black;
    width: fit-content;
    padding: .2rem;
}


/* FILTER BUTTONS */
.filter-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 400px;
}

.filter-box h1 {
    padding-bottom: 1rem;
}

.toggle .artwork-text {
    display: none;
}

.grid-button img {
    width: 25px;
}

.filters {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
}

.filter-button {
    height: 30px;
    width: 30px;
}


/* MEDIA QUERIES **/
@media (min-width: 650px) {
    main {
        flex-direction: row;
    }

    .filter-box {
        flex-direction: row;
        padding-bottom: .25rem;
        max-width: 650px;
    }

    .gallery-container {
        max-width: 650px;
        column-count: 2;
        justify-content: space-between;
        column-gap: 1rem;
        margin: 0 auto;
    }

    .logo {
        width: 650px;
        height: 222px;
    }
}

@media (min-width: 1000px) {
    main {
        flex-direction: row;
    }

    .filter-box {
        flex-direction: row;
        padding-bottom: .25rem;
        max-width: 1000px;
    }

    .gallery-container {
        max-width: 1000px;
        column-count: 3;
        justify-content: space-between;
        column-gap: 1rem;
        margin: 0 auto;
    }

    .logo {
        width: 1000px;
        height: 342px;
    }
}
