:root {
    --gold: #EFC69B;
    --red: #AF1B3F;
    --dark: #473144;
}

* {
    margin: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.skiptocontent a {
    position: absolute;
    top: -40px;
}

.skiptocontent a:focus {
    top: 0;
}

h1 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--dark);
    font-size: 2rem;
}

h2 {
    color: var(--red);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', Impact, serif;
}

.nav-container {
    border-top: solid 3px var(--gold);
    border-bottom: solid 3px var(--gold);
}

.main-nav {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: end;
    justify-items: end;
    max-width: 85%;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.main-nav li {
    list-style: none;
    color: var(--red);
    font-size: larger;
}

.body-container {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 2rem;
}

.article {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 1rem;
    padding-bottom: 4rem;
}

img {
    padding: 1rem;
    padding-left: 2rem;
}

p + p {
    padding-top: 1rem;
}